
  

.two-columns .row .column {
  width: 50%;
}

.three-columns .row .column {
  width: 33.33%;
}

.five-columns .row .column {
  width: 20%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1rem;
}

.column {
  margin-down: 1rem;
  width: 100%;
}

.title {
  margin-top: 2rem;
  margin-left: 1rem;
}
