.links {
  display: flex;
  gap: 1rem;
}

.one-column {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.one-column, .two-columns, .three-columns, .five-columns {
  display: flex;
  flex-wrap: wrap;
}

.two-columns .column {
  width: 50%;
}

.three-columns .column {
  width: 33.33%;
}

.five-columns .column {
  width: 20%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1rem;
}

.column {
  box-sizing: border-box;
  padding: 0 1rem;
  width: 100%;
}

.title {
  margin-top: 2rem;
}